@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: #66FCF1;
}

body{
    background-color: #1F2833;
    color: #66FCF1;
    font-family: 'Roboto Mono', monospace;
}

header{
    margin-top: 15%;
   

}


.search-field{
    width: 11rem;
    height: 2.5rem;
    background: inherit;
    border-color: #45A29e;
    color: #66FCF1;
    border-radius: 5px;
    margin-right: 1.5rem;
    border-bottom: 1px solid #45A29e;
    font-weight: 100;
}
.search-field:focus{
    background-color: #45A29e;

}

.info-card{
    background: inherit;
    border-color: inherit;
    color: #66FCF1 ;
}

.btn{
    background-color: #1F2833;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn{
    margin-bottom: 0.2rem;
    border-color: #45A29e;
    color: inherit;
}

.search-btn:hover{
    background-color: inherit;
    border-color: #66FCF1;
}
